.video-section {
    margin: 20px 50px;
    background-image: url(/public/images/professional\ background.webp);
    background-size: 100% 100%; /* Start with the image covering the div */
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .real-estate-video {
    width: 80%;
    height: 50%;
    border: none;
  }
  